<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skateboard.modulea">

    <application
        android:icon="@android:drawable/ic_btn_speak_now"
        android:label="ModuleA"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ModuleAActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
